body {
  margin: 0;
  padding: 0;
  background-color: #e0e0e026;
}

.MuiDialogContent-root.ofVisible {
  overflow: visible !important;
}

.bt-icons {
  font-size: 15px !important;
  margin: 0 5px;
}

.rotate-90 {
  transform: rotate(90deg);
}

.bt-baseline {
  margin-top: 16px !important;
}

.body-card {
  background-color: #e0e0e026;
  /* background-color: aliceblue; */
}

.card-pie-chart {
  padding-top: 0px !important;
  padding-bottom: 0px !important;
  top: -15px !important;
  position: relative !important;
}

.master-dash-nps {
  margin-top: 10px !important;
}

.loader {
  z-index: 99999;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -20;
  margin-left: -20;
}

/* Cor de fundo do autocomplete */
input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 30px #4b6070 inset;
}

/* Cor do texto do autocomplete */
input:-webkit-autofill {
  -webkit-text-fill-color: white !important;
}

.table-mui {
  margin: 24px 0;
}

.select-live-search {
  top: 8px;
}

.css-15k3avv {
  z-index: 999 !important;
}

.success {
  color: green;
  font-weight: bold;
}

.danger {
  color: red;
  font-weight: bold;
}

.warning {
  color: orange;
  font-weight: bold;
}

.tab-promotor {
  color: green;
  font-weight: bold;
  background-color: #00800026;
  text-align: center;
  border-radius: 4px;
}

.tab-neutro {
  color: orange;
  font-weight: bold;
  background-color: #ffa50026;
  text-align: center;
  border-radius: 4px;
}

.tab-detrator {
  color: red;
  font-weight: bold;
  background-color: #ff000026;
  text-align: center;
  border-radius: 4px;
}

.option0 {
  color: white;
  background-color: #883234 !important;
  padding: 3px 0;
  text-align: center;
  border-radius: 4px;
}

.option2 {
  color: white;
  background-color: #c54a33 !important;
  padding: 3px 0;
  text-align: center;
  border-radius: 4px;
}

.option7 {
  color: white;
  background-color: #cbaa29 !important;
  padding: 3px 0;
  text-align: center;
  border-radius: 4px;
}

.option9 {
  color: white;
  background-color: #4d8933 !important;
  padding: 3px 0;
  text-align: center;
  border-radius: 4px;
}

.option10 {
  color: white;
  background-color: #017f01 !important;
  padding: 3px 0;
  text-align: center;
  border-radius: 4px;
}

.icons-table {
  margin-left: 5px;
  font-size: 13px !important;
}

.bt-reply {
  position: relative;
  top: 10px;
}
